main {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
}

.item-list {
	display: grid;
	grid-template-columns: 200px 200px 200px;
	grid-column-gap: 10px;
	grid-row-gap: 1em;
}